<ng-container *ngIf="{
  partner: partner$ | async
} as obs">
  <!-- Modal Header -->
  <div class="modal-header">
    <h4 class="modal-title">{{ formTitle }}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <!-- Modal Body -->
  <div class="modal-body">
    <form>
      <!-- Nome e Cognome -->
      <div class="row mb-4">
        <div class="col-sm-6 col-xs-12">
          <label for="exampleFormControlInput1">
            Nome
          </label>
          <input
            class="form-control"
            id="name"
            value="{{ obs.partner?.name }}"
          >
        </div>
        <div class="col-sm-6 col-xs-12">
          <label for="exampleFormControlInput1">
            Cognome
          </label>
          <input
            class="form-control"
            id="surname"
            value="{{ obs.partner?.surname }}"
          >
        </div>
      </div>
      <!-- Numero di Telefono e Codice Fiscale -->
      <div class="row mb-4">
        <div class="col-sm-6 col-xs-12">
          <label for="exampleFormControlInput1">
            Numero di Telefono
          </label>
          <input
            class="form-control"
            id="mobile"
            value="{{ obs.partner?.mobile }}"
          >
        </div>
        <div class="col-sm-6 col-xs-12">
          <label for="exampleFormControlInput1">
            Codice Fiscale
          </label>
          <input
            class="form-control"
            id="fiscalCode"
            value="{{ obs.partner?.fiscalCode }}"
          >
        </div>
      </div>
      <!-- Indirizzo e CAP -->
      <div class="row mb-4">
        <div class="col-sm-6 col-xs-12">
          <label for="exampleFormControlInput1">
            Indirizzo
          </label>
          <input
            class="form-control"
            id="street"
            value="{{ obs.partner?.street }}"
          >
        </div>
        <div class="col-sm-6 col-xs-12">
          <label for="exampleFormControlInput1">
            CAP
          </label>
          <input
            class="form-control"
            id="zip"
            value="{{ obs.partner?.zip }}"
          >
        </div>
      </div>
      <!-- Città + Nazione -->
      <div class="row mb-4">
        <div class="col-sm-6 col-xs-12">
          <label for="exampleFormControlInput1">
            Città
          </label>
          <input
            class="form-control"
            id="city"
            value="{{ obs.partner?.city }}"
          >
        </div>
        <div class="col-sm-6 col-xs-12">
          <label for="exampleFormControlInput1">
            Nazione
          </label>
          <input
            class="form-control"
            id="country"
            value="{{ obs.partner?.country }}"
          >
        </div>
      </div>
      <!-- Sito Web + Email -->
      <div class="row mb-4">
        <div class="col">
          <label for="inlineFormInputGroup">
            Sito Web
          </label>
          <input
            class="form-control"
            id="webSite"
            value="{{ obs.partner?.webSite }}"
          >
        </div>
        <div class="col">
          <label for="exampleFormControlInput1">
            Email
          </label>
          <input
              class="form-control"
              id="email"
              value="{{ obs.partner?.email }}"
            >
        </div>
      </div>
    
      <!-- Submit button -->
      <button type="submit" class="btn btn-secondary w-100 mb-3 p-2">
        Salva
      </button>
    </form>
  </div>
</ng-container>