<ng-container *ngIf="{
  initialize: initialize$ | async
} as obs">
  <!-- Modal Header -->
  <div class="modal-header">
    <h4 class="modal-title">{{ formTitle }}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
  </div>
  <!-- Modal Body -->
  <div class="modal-body">
    <form [formGroup]="form" #fGroupForm="ngForm" (ngSubmit)="onSubmit()">
      <!-- Nome e Cognome -->
      <div class="row mb-4">
        <div class="col-sm-6 col-xs-12">
          <ng-container
            [ngTemplateOutlet]="formFieldTemplate"
            [ngTemplateOutletContext]="{label: 'Nome', fieldId: 'name', fGroupForm}">
          </ng-container>
        </div>
        <div class="col-sm-6 col-xs-12">
          <ng-container
            [ngTemplateOutlet]="formFieldTemplate"
            [ngTemplateOutletContext]="{label: 'Cognome', fieldId: 'surname', fGroupForm}">
          </ng-container>
        </div>
      </div>
      <!-- Foto URL -->
      <div class="row mb-4">
        <div class="col-sm-12 col-xs-12">
          <ng-container
            [ngTemplateOutlet]="formFieldTemplate"
            [ngTemplateOutletContext]="{label: 'Foto URL', fieldId: 'photo', fGroupForm}">
          </ng-container>
        </div>
      </div>
      <!-- Numero di Telefono e Codice Fiscale -->
      <div class="row mb-4">
        <div class="col-sm-6 col-xs-12">
          <ng-container
            [ngTemplateOutlet]="formFieldTemplate"
            [ngTemplateOutletContext]="{label: 'Numero di Telefono', fieldId: 'mobile', fGroupForm}">
          </ng-container>
        </div>
        <div class="col-sm-6 col-xs-12">
          <ng-container
            [ngTemplateOutlet]="formFieldTemplate"
            [ngTemplateOutletContext]="{label: 'Codice Fiscale', fieldId: 'fiscalCode', fGroupForm}">
          </ng-container>
        </div>
      </div>
      <!-- Indirizzo e CAP -->
      <div class="row mb-4">
        <div class="col-sm-6 col-xs-12">
          <ng-container
            [ngTemplateOutlet]="formFieldTemplate"
            [ngTemplateOutletContext]="{label: 'Indirizzo', fieldId: 'street', fGroupForm}">
          </ng-container>
        </div>
        <div class="col-sm-6 col-xs-12">
          <ng-container
            [ngTemplateOutlet]="formFieldTemplate"
            [ngTemplateOutletContext]="{label: 'CAP', fieldId: 'zip', fGroupForm}">
          </ng-container>
        </div>
      </div>
      <!-- Città + Nazione -->
      <div class="row mb-4">
        <div class="col-sm-6 col-xs-12">
          <ng-container
            [ngTemplateOutlet]="formFieldTemplate"
            [ngTemplateOutletContext]="{label: 'Città', fieldId: 'city', fGroupForm}">
          </ng-container>
        </div>
        <div class="col-sm-6 col-xs-12">
          <ng-container
            [ngTemplateOutlet]="formFieldTemplate"
            [ngTemplateOutletContext]="{label: 'Nazione', fieldId: 'country', fGroupForm}">
          </ng-container>
        </div>
      </div>
      <!-- Sito Web + Email -->
      <div class="row mb-4">
        <div class="col">
          <ng-container
            [ngTemplateOutlet]="formFieldTemplate"
            [ngTemplateOutletContext]="{label: 'Sito Web', fieldId: 'webSite', fGroupForm}">
          </ng-container>
        </div>
        <div class="col">
          <ng-container
            [ngTemplateOutlet]="formFieldTemplate"
            [ngTemplateOutletContext]="{label: 'Email', fieldId: 'email', fGroupForm}">
          </ng-container>
        </div>
      </div>
      <!-- Submit button -->
      <button type="submit" class="btn btn-secondary w-100 mb-3 p-2">
        Salva
      </button>
      <!-- Single Form Field Template. Don't move it out: it must be within <form> -->
      <ng-template
        #formFieldTemplate
        let-label="label"
        let-fieldId="fieldId"
        let-fGroupForm="fGroupForm"
      >
        <label for="exampleFormControlInput1">
          {{ label }}
        </label>
        <input
          [ngClass]="['form-control', isInvalid(fGroupForm, fieldId) ? 'is-invalid' : '']"
          id="{{ fieldId }}"
          name="{{ fieldId }}"
          formControlName="{{ fieldId }}"
        >
        <div [ngClass]="[isInvalid(fGroupForm, fieldId) ? 'invalid-feedback' : 'd-none']">
          {{ fieldErrorMessage }}
        </div>
      </ng-template>
    </form>
  </div>
</ng-container>
