<!-- Add partner Button -->
<div class="d-flex flex-row-reverse mb-3">
  <div class="p-2">
    <button type="button" class="btn btn-outline-primary" (click)="openModal()">
      Aggiungi Contatto
    </button>
  </div>
</div>
<!-- Partners Table -->
<app-partner-table
  [partners]="partners"
  (onCancel)="onCancel()"
></app-partner-table>
<!-- Pagination Component -->
<div class="mt-3">
  <app-menu-wrapper
    [loading]="loading"
    [getParameters]="getHttpParameters"
    (startedFething)="startLoading($event)"
  >
  </app-menu-wrapper>
</div>